<div class="detail-section">
    <div class="container-fluid">

        <div>
            <img style="width: 20%;" src="{{ product.imageUrl }}" alt="">
    
            <h3>{{ product.name }}</h3>
            <div class="price">{{ product.unitPrice | currency:'USD' }}</div>
            <a href="#" class="primary-button"></a>
    
            <hr>
            <h4>Description</h4>
            <p>{{ product.description }}</p>
        </div>

        <a class="mt-5" routerLink="/category/{{ categoryNumber }}"><h3>Back to Product List</h3></a>

    </div>
</div>